p{
/*Border*/
border: 2px solid blue;

/*Content - Width and Height*/
width:50%;

/*Padding*/
padding-left: 40px;

/*Margin*/
/*margin: 100px;*/
/*margin: 20px 10px 20px 10px;*/
/*margin: 0 auto 0 auto;*/
margin: 5px auto;
}