/*background

body{
	background: pink;
	background: url(https://www.clickgratis.com.br/fotos-imagens/imagens/aHR0cHM6Ly93d3cuY2xpY2tncmF0aXMuY29tLmJyL2ZvdG9zLWltYWdlbnMvaW1hZ2Vtcy9hSFIwY0hNNkx5OTNkM2N1WTJ4cFkydG5jbUYwYVhNdVkyOXRMbUp5TDJadmRHOXpMV2x0WVdkbGJuTXZhVzFoWjJWdWN5OWhTRkl3WTBoTk5reDVPVE5rTTJOMVdUSjRjRmt5ZEc1amJVWXdZVmhOZFZreU9YUk1iVXA1VERKYWRtUkhPWHBNVjJ4MFdWZGtiR0p1VFhaaFZ6Rm9XakpXZEdONU9XaFRSa2wzV1RCU2RtUnJkM2xUYmxwcFZqQndNbHBHVFRGa1ZuQlpWVmhhYTAwd1JqQlhWRWsxWkZkU1NGWnVWbXRSZW10NFdUQmtOR1JzYkZoVmJuQk5aV3RzTTFSV1VscGthekZWVVZoYWFGWjZSbTlYYWtwWFpGZE9OVTFYZUdwU01uaHhWMVpvVG1SRk1YRmFNMVpvWW10S2RVeHRjSGRhZHowOUxtcHdadz09LmpwZw==.jpg);
	background-size: cover
	background-repeat: no-repeat;
}
*/

/*colors

body{
	color: #00FF00;	
	color: rgb(100,0,100);
	color: rgba(100,0,100,.5);
}
*/
